@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

.App {
  text-align: center;
  justify-items: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: calc(100% - 22px);
  max-width: 300px;
}

.radius {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: calc(100% - 22px);
  max-width: 100px;
}

.search {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #00b35c;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f2f5fa;
  margin: 10px 0;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(1px);
}

.modal div {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  opacity: 90%;
}

.modal button {
  font-family: "Jost", sans-serif;
  background-color: #d9534f;
  color: white;
  font-size: 14px;
  margin: 10px 5px;
}

.modal a {
  display: inline-block;
  margin: 10px 5px;
  text-decoration: none;
  color: white;
  background: #007bff;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal a:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal a:hover:not(:disabled) {
  background-color: #00b35c;
}

option, select {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: calc(100% - 22px);
  max-width: 300px;
}

.station {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stations {
  display: flex;
  flex-wrap: wrap;
}

.stationname {
  font-size: 16px;
  font-weight: bold;
  width: 50%;
  text-align: left;
}